<h4>{{addressInfo.ownerTitle}} {{addressInfo.counterDesc}} {{addressInfo.addrForm}} Address</h4>
<small>{{addressInfo.addrAdvice}}</small>
<div class="form-group">
  <label class="col-sm-4 col-lg-3 text-right" title="Unit / Floor / Building Name / Building Number">Unit / Floor</label>
  <div class="col-sm-5">
    <input class="form-control" name="{{'row_' + addressInfo.ownerAbbr + '_' + addressInfo.type + '_Unit'}}" type="text" placeholder="Unit / Floor" ng-model="addressInfo.unit" maxlength="50">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 col-lg-3 text-right" title="Number and Street / Lot Number">Number and Street</label>
  <div class="col-sm-5">
    <input class="form-control" name="{{'row_' + addressInfo.ownerAbbr + '_' + addressInfo.type + '_Street'}}" type="text" placeholder="# Street" ng-model="addressInfo.street" maxlength="128" ng-required="addressInfo.isRequired">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 col-lg-3 text-right" title="Village / Town / Suburb / City">Suburb</label>
  <div class="col-sm-5">
    <input class="form-control" name="{{'row_' + addressInfo.ownerAbbr + '_' + addressInfo.type + '_Suburb'}}" type="text" placeholder="Suburb" ng-model="addressInfo.suburb" maxlength="128" ng-required="addressInfo.isRequired">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 col-lg-3 text-right" title="State / Province / Territory / Prefecture">State</label>
  <div class="col-sm-5">
    <input class="form-control" name="{{'row_' + addressInfo.ownerAbbr + '_' + addressInfo.type + '_State'}}" type="text" placeholder="State" ng-model="addressInfo.state" maxlength="50" ng-required="addressInfo.isRequiredr">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 col-lg-3 text-right" title="Post Code / Zip Code">Post Code</label>
  <div class="col-sm-5">
    <input class="form-control" name="{{'row_' + addressInfo.ownerAbbr + '_' + addressInfo.type + '_PostCode'}}" type="text" placeholder="Post Code" ng-model="addressInfo.postcode" maxlength="12">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 col-lg-3 text-right">Country</label>
  <div class="col-sm-5">
    <input class="form-control" name="{{'row_' + addressInfo.ownerAbbr + '_' + addressInfo.type + '_Country'}}" type="text" placeholder="Country" ng-model="addressInfo.country" maxlength="128" ng-required="addressInfo.isRequired">
  </div>
</div>
<div class="form-group" ng-hide="{{addressInfo.mailingTypeIsFixed || addressInfo.type === 'postal'}}">
  <label class="col-xs-5 col-sm-4 col-lg-3 text-right">Use {{addressInfo.addrForm}} Address for Postal Address?</label>
  <div class="col-xs-6 col-sm-5">
    <div class="btn-group btn-group-justified" role="group" aria-label="{{addressInfo.ownerTitle}} {{addressInfo.counterDesc}} {{addressInfo.addrForm}} Is Also Mailing Address">
      <label class="btn btn-radio btn-primary" ng-class="{'active': addressInfo.isMailing}">
        <input type="radio" name="{{'row_' + addressInfo.ownerAbbr + '_' + addressInfo.type + '_IsMailing'}}" ng-model="addressInfo.isMailing" ng-value="true" autocomplete="off" checked> Yes
      </label>
      <label class="btn btn-radio btn-primary" ng-class="{'active': !addressInfo.isMailing}">
        <input type="radio" name="{{'row_' + addressInfo.ownerAbbr + '_' + addressInfo.type + '_IsMailing'}}" ng-model="addressInfo.isMailing" ng-value="false" autocomplete="off"> No
      </label>
    </div>
  </div>
</div>