<div class="row">
  <label class="col-xs-4 col-lg-3 text-right">Address</label>
  <div class="col-xs-8 col-lg-9">
    <address>
      <span ng-show="addressInfo.unit">{{addressInfo.unit}} </span>
      <span ng-show="addressInfo.street">{{addressInfo.street}} </span>
      <span ng-show="addressInfo.suburb">{{addressInfo.suburb}} </span>
      <span ng-show="addressInfo.state">{{addressInfo.state}} </span>
      <span ng-show="addressInfo.postcode">{{addressInfo.postcode}} </span>
      <span ng-show="addressInfo.country">{{addressInfo.country}}</span>
    </address>
  </div>
</div>