<div class="row">
  <label class="col-xs-4 col-lg-3 text-right">Name</label>
  <div class="col-xs-8 col-lg-9" ng-show="partyInfo.entityType === 'Person'">
    <span>{{partyInfo.personalName}}</span>
    <span><strong>{{partyInfo.surname}}</strong></span>
  </div>
  <div class="col-xs-8 col-lg-9" ng-show="partyInfo.entityType === 'Organisation'">
    <span><strong>{{partyInfo.name}}</strong></span>
  </div>
</div>

<div ng-repeat="elecAddress in partyInfo.electronicAddresses">
  <una-electronicaddress-ro elec="elecAddress" parent="partyInfo"></una-electronicaddress-ro>
</div>
