@using una_CIS_ng.Core

@{
  ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
  Top Floor, Block A, Elaganza Complex,<br />
  Plot 33, Mobolaji Johnson Avenue,<br />
  Oregun, Ikeja, @Constants.LagosAbbr, Nigeria
</address>

<address>
  <abbr title="Phone">P:</abbr>
  +234 703 328 8778 (office hours)
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d4954.180418325345!2d3.3700508153287942!3d6.604047895224219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x103b92517ca8bfa5%3A0x9dc9ade03a7ede59!2s33+Mobolaji+Johnson+Way!3m2!1d6.604047899999999!2d3.3722395!5e1!3m2!1sen!2sng!4v1462360633142" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


