@{
  ViewData["Title"] = "Map";
  var geoCodeKey = ViewData["GoogleAPIKey"];
  var mapKey = ViewData["GoogleAPIBrowserKey"];
  var mapInitUrl = "https://maps.googleapis.com/maps/api/js?key=" + @mapKey + "&libraries=drawing,geometry&callback=initMap";
  //var mapInitUrl = "http://maps.google.com/maps?file=api&amp;v=2&amp;key=" + @mapKey;

  var mapUrl = ViewData["Map:Url"];
}

<div class="row" ng-controller="geoDataController">
  <div class="col-md-4">
    <h2>Infrastructure Route</h2>
    @*<dl id="infRt">
      <dt>Rate per m</dt>
      <dd><input name="RatePerM" id="RatePerM" type="text" value="500" readonly="readonly"/></dd>
      <dt>Rate per Construction Permit</dt>
      <dd><input name="RatePerCP" id="RatePerCP" type="text" value="10000" readonly="readonly"/></dd>
    </dl>*@
    @*<dl class="dl-horizontal">
      <dt>GeoData is:</dt>
      <dd>{{geoData.IsDbConnected ? "connected" : "not available"}}</dd>
    </dl>*@
    @*<ul>
      <li ng-repeat="gd in geoData.geoFeatures">{{gd.properties.id}}</li>
    </ul>*@
    @*<pre>{{geoData.geoFeatures | json}}</pre>*@
  </div>
  <div class="col-md-6">
    <h2>Map</h2>
    <div id="map"></div>
  </div>
</div>

@section scripts
{
  <script src="@mapInitUrl" async defer></script>
}