@{
  ViewData["Title"] = "Permit - Fee Estimator";
}

<h2>@ViewData["Title"]</h2>

<p>Use this calculator to estimate the fees, charges and penalties related to your existing or proposed infrastructure.</p>
<p>All of the information entered on this page, stays on this page. Please note that it is a guide only.</p>
<p>To use this calculator you must make a selection from each of the options below and then also enter any required values.</p>
<div class="container bs-docs-container" ng-controller="feeCalculatorController">
  <div class="form-group row" ng-class="{'bg-danger': !calc.infState}">
    <label class="col-xs-5 col-sm-4 col-md-3 col-lg-2 text-right">Infrastructure state:</label>
    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
      <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure State">
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infState == 'New'}">
          <input type="radio" name="infState" ng-model="calc.infState" value="New" autocomplete="off" ng-required="true"> New
        </label>
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infState == 'Existing'}">
          <input type="radio" name="infState" ng-model="calc.infState" value="Existing" autocomplete="off" ng-required="true"> Existing
        </label>
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infState == 'Decommissioning'}">
          <input type="radio" name="infState" ng-model="calc.infState" value="Decommissioning" autocomplete="off" ng-required="true"> Decommissioning
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row" ng-class="{'bg-danger': !calc.permState}">
    <label class="col-xs-5 col-sm-4 col-md-3 col-lg-2 text-right">Permit state:</label>
    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
      <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure State">
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.permState == 'New'}">
          <input type="radio" name="permState" ng-model="calc.permState" value="New" autocomplete="off" ng-required="true"> Applying<br />for New
        </label>
        <label class="btn btn-radio btn-primary animate-show" ng-class="{'active': calc.permState == 'Temporary'}" ng-show="calc.infState != 'New'">
          <input type="radio" name="permState" ng-model="calc.permState" value="Temporary" autocomplete="off" ng-required="true"> Applying<br />for Temporary
        </label>
        <label class="btn btn-radio btn-primary animate-show" ng-class="{'active': calc.permState == 'Existing'}" ng-show="calc.infState != 'New'">
          <input type="radio" name="permState" ng-model="calc.permState" value="Existing" autocomplete="off" ng-required="true"> Have<br />Existing
        </label>
        <label class="btn btn-radio btn-primary animate-show" ng-class="{'active': calc.permState == 'Cannot'}" ng-show="calc.infState != 'New'">
          <input type="radio" name="permState" ng-model="calc.permState" value="Cannot" autocomplete="off" ng-required="true"> Cannot Apply<br />(non-conforming)
        </label>
      </div>
      <ul>
        <li class="small">
          Temporary Permits and Non-Conforming Permits are only for existing infrastructure, built before July 2004, and expire after one year.
        </li>
        <li class="small">
          If applying for a Temporary Permit, you will still have to apply for a Right-of-Way Permit to keep your infrastructure or a Construction Permit to Decommission your infrastructure.
        </li>
        <li class="small">
          If applying for a Non-Conforming Permit, you will still have to apply for a Construction Permit to Decommission your infrastructure.
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group row" ng-class="{'bg-danger': !calc.infType}">
    <label class="col-xs-5 col-sm-4 col-md-3 col-lg-2 text-right">Type of Infrastructure:</label>
    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
      <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure Type">
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infType == 'TransTower'}">
          <input type="radio" name="infType" ng-model="calc.infType" value="TransTower" autocomplete="off" ng-required="true"> Transmission<br />Tower / Mast
        </label>
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infType == 'OtherTower'}">
          <input type="radio" name="infType" ng-model="calc.infType" value="OtherTower" autocomplete="off" ng-required="true"> Other<br />Tower / Mast
        </label>
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infType == 'Dish'}">
          <input type="radio" name="infType" ng-model="calc.infType" value="Dish" autocomplete="off" ng-required="true"> Dish<br />&nbsp;
        </label>
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infType == 'Underground'}">
          <input type="radio" name="infType" ng-model="calc.infType" value="Underground" autocomplete="off" ng-required="true"> Underground<br />&nbsp;
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row" ng-class="{'bg-danger': !calc.infDisc}" ng-show="calc.infState != 'New' && calc.permState != 'Existing' && calc.infType == 'Underground'">
    <label class="col-xs-5 col-sm-4 col-md-3 col-lg-2 text-right">Un-permitted Infrastructure Discovery:</label>
    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
      <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure Type">
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infDisc == 'Declared'}">
          <input type="radio" name="consType" ng-model="calc.infDisc" value="Declared" autocomplete="off" ng-required="true"> Declared by Owner
        </label>
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infDisc == 'Discovered'}">
          <input type="radio" name="consType" ng-model="calc.infDisc" value="Discovered" autocomplete="off" ng-required="true"> Discovered by Audit
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row" ng-class="{'bg-danger': !calc.consType}" ng-show="calc.infType == 'Underground'">
    <label class="col-xs-5 col-sm-4 col-md-3 col-lg-2 text-right">Construction Method:</label>
    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
      <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure Type">
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.consType == 'Trenching'}">
          <input type="radio" name="consType" ng-model="calc.consType" value="Trenching" autocomplete="off" ng-required="true"> Trenching
        </label>
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.consType == 'HorizontalDrilling'}">
          <input type="radio" name="consType" ng-model="calc.consType" value="HorizontalDrilling" autocomplete="off" ng-required="true"> Horizontal Drilling
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row" ng-class="{'bg-danger': !calc.infLoc}">
    <label class="col-xs-5 col-sm-4 col-md-3 col-lg-2 text-right">Location of Infrastructure:</label>
    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
      <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure Location">
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infLoc == 'Business'}">
          <input type="radio" name="infLoc" ng-model="calc.infLoc" value="Business" autocomplete="off" ng-required="true"> Business District
        </label>
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infLoc == 'HighDensity'}">
          <input type="radio" name="infLoc" ng-model="calc.infLoc" value="HighDensity" autocomplete="off" ng-required="true"> High Density Zone
        </label>
        <label class="btn btn-radio btn-primary" ng-class="{'active': calc.infLoc == 'Other'}">
          <input type="radio" name="infLoc" ng-model="calc.infLoc" value="Other" autocomplete="off" ng-required="true"> Other
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row" ng-class="{'bg-danger': calc.dimension < 1}">
    <label class="col-xs-5 col-sm-4 col-md-3 col-lg-2 text-right">Dimension:</label>
    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
      <div class="input-group">
        <input name="dimension" id="dimension" ng-model="calc.dimension" type="number" />
        <span ng-show="calc.infType === 'Dish' || calc.infType === 'Underground'">in metres</span>
        <span ng-show="calc.infType === 'TransTower' || calc.infType === 'OtherTower'">in feet</span>
      </div>
    </div>
  </div>
  <div class="form-group row" ng-class="{'bg-danger': calc.section < 1}" ng-show="calc.infType === 'Underground'">
    <label class="col-xs-5 col-sm-4 col-md-3 col-lg-2 text-right">Sections:</label>
    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
      <div class="input-group">
        <input name="section" id="section" ng-model="calc.section" type="number" />
      </div>
    </div>
  </div>
  <h3>Permit Application Fees</h3>
  <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th class="col-xs-6">Item</th>
          <th class="col-xs-1 text-right">Unit</th>
          <th class="col-xs-1 text-right">Rate</th>
          <th class="col-xs-2">&nbsp;</th>
          <th class="col-xs-2 text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="animate-show" ng-repeat="fee in calc.fees | filter: calc.applicationFilter">
          <td>{{fee.name}}</td>
          <td class="text-right">{{fee.units(calc.dimension, calc.section)}}</td>
          <td class="text-right">{{fee.rate | currency: "N&nbsp;": 0}}</td>
          <td>{{fee.rateDesc()}}</td>
          <td class="text-right">{{fee.total(calc.dimension, calc.section) | currency: "N&nbsp;": 0}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="animate-show">
          <td class="text-right" colspan="4"><strong>Permit Application Fee Total</strong></td>
          <td class="text-right"><strong>{{calc.total(calc.fees, calc.applicationFilter, calc.dimension, calc.section) | currency: "N&nbsp;": 0 }}</strong></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <h3>First Renewal Fees</h3>
  <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th class="col-xs-6">Item</th>
          <th class="col-xs-1 text-right">Unit</th>
          <th class="col-xs-1 text-right">Rate</th>
          <th class="col-xs-2">&nbsp;</th>
          <th class="col-xs-2 text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="animate-show" ng-repeat="fee in calc.fees | filter: calc.firstRenewalFilter">
          <td>{{fee.name}}</td>
          <td class="text-right">{{fee.units(calc.dimension, calc.section)}}</td>
          <td class="text-right">{{fee.rate | currency: "N&nbsp;": 0}}</td>
          <td>{{fee.rateDesc()}}</td>
          <td class="text-right">{{fee.total(calc.dimension, calc.section) | currency: "N&nbsp;": 0}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="animate-show">
          <td class="text-right" colspan="4"><strong>First Renewal Fee Total</strong></td>
          <td class="text-right"><strong>{{calc.total(calc.fees, calc.firstRenewalFilter, calc.dimension, calc.section) | currency: "N&nbsp;": 0 }}</strong></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <h3>Renewal Fees</h3>
  <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th class="col-xs-6">Item</th>
          <th class="col-xs-1 text-right">Unit</th>
          <th class="col-xs-1 text-right">Rate</th>
          <th class="col-xs-2">&nbsp;</th>
          <th class="col-xs-2 text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="animate-show" ng-repeat="fee in calc.fees | filter: calc.renewalFilter">
          <td>{{fee.name}}</td>
          <td class="text-right">{{fee.units(calc.dimension, calc.section)}}</td>
          <td class="text-right">{{fee.rate | currency: "N&nbsp;": 0}}</td>
          <td>{{fee.rateDesc()}}</td>
          <td class="text-right">{{fee.total(calc.dimension, calc.section) | currency: "N&nbsp;": 0}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="animate-show">
          <td class="text-right" colspan="4"><strong>Renewal Fee Total</strong></td>
          <td class="text-right"><strong>{{calc.total(calc.fees, calc.renewalFilter, calc.dimension, calc.section) | currency: "N&nbsp;": 0 }}</strong></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <h3>Special Penalties</h3>
  <p>Contact CIS if any of these apply to you</p>
  <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th class="col-xs-7">Item</th>
          <th class="col-xs-1 text-right">Rate</th>
          <th class="col-xs-4">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr class="animate-show" ng-repeat="fee in calc.fees | filter: calc.penaltyFilter">
          <td>{{fee.name}}</td>
          <td class="text-right">{{fee.rate}}</td>
          <td>{{fee.rateDesc()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
