@{
  ViewData["Title"] = "Permit - Right-of-Way";
  var mapKey = ViewData["GoogleAPIBrowserKey"];
  var mapInitUrl = "https://maps.googleapis.com/maps/api/js?key=" + mapKey + "&libraries=drawing,geometry&callback=initMap";
  //var mapInitUrl = "http://maps.google.com/maps?file=api&amp;v=2&amp;key=" + @mapKey;
}

<div class="container bs-docs-container" ng-controller="permitController">
  <div class="row">
    <div class="col-md-9 col-lg-10" role="main">
      <form class="form-horizontal" role="form" ng-submit="permit.Save()">
        <div class="bs-docs-section">
          <h1 id="PermitApplication" class="page-header">
            <a class="anchorjs-link" href="#PermitApplication" aria-label="Anchor link for: permit application">Permit Application</a>
          </h1>
        </div>
        <div class="bs-docs-section" ng-hide="permit.permits.row.isPreview">
          <h2 id="PermitApplicationInstructions">
            <a class="anchorjs-link" href="#PermitApplicationInstructions" aria-label="Anchor link for: permit application instructions">Instructions</a>
          </h2>
          <p>To obtain a Permit for your infrastructure several things are required:</p>
          <ul>
            <li>The <a href="#PermitApplicationParties">Permit Holder</a> must be identified. Other people and organisations may need to be identified also.</li>
            <li>The <a href="#PermitApplicationLocation">location / route of your infrastructure</a> must be clearly identified.</li>
            <li>The Permit Application must be submitted by clicking the submit button below.</li>
            <li>The relevant fees, charges and penalties must be paid.</li>
          </ul>
          <div class="bs-callout-sm bs-callout-info">
            <small>If you are putting in new infrastructure then a Construction Permit is also required. This is not available electronically at present.</small>
          </div>
          <div class="bs-callout-sm bs-callout-warning">
            <small>Some other agencies may require you to obtain relevant permits / authorisation also - LASIMRA and its authorised agencies are not responsible for this.</small>
          </div>
          <p>
            Please see <a href="./PermitInfo">Permit Info</a> for more information about obtaining Permits and keeping them.
          </p>
        </div>
        <div class="bs-docs-section" ng-hide="permit.permits.row.isPreview">
          <h2 id="PermitApplicationParties">
            <a class="anchorjs-link" href="#PermitApplicationParties" aria-label="Anchor link for: permit application parties">Parties to the Permit</a>
          </h2>
          <div class="well well-sm">
            <h3 id="PermitHolderDeclaration">Permit Holder</h3>
            <div class="form-group row">
              <label class="col-xs-5 col-sm-5 col-md-4 col-lg-3 text-right">The Permit Holder is a:</label>
              <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                <div class="btn-group btn-group-justified" role="group" aria-label="Permit Holding Entity Type">
                  <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.parties.holder.entityType == 'Person'}">
                    <input type="radio" name="rowHoldingEntityType" ng-model="permit.permits.row.parties.holder.entityType" value="Person" autocomplete="off" ng-required="true"> Person
                  </label>
                  <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.parties.holder.entityType == 'Organisation'}">
                    <input type="radio" name="rowHoldingEntityType" ng-model="permit.permits.row.parties.holder.entityType" value="Organisation" autocomplete="off" ng-required="true"> Organisation
                  </label>
                </div>
              </div>
            </div>
            <div id="PermitApplicationHolder" class="form-group row">
              <label class="col-xs-5 col-sm-5 col-md-4 col-lg-3 text-right">The Permit Holder is also the Infrastructure Owner:</label>
              <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                <div class="btn-group btn-group-justified" role="group" aria-label="Permit Holding Entity is Infrastructure Owner">
                  <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.parties.holder.isInfrastructureOwner}">
                    <input type="radio" name="rowHoldingEntityIsInfrastructureOwner" ng-model="permit.permits.row.parties.holder.isInfrastructureOwner" ng-value="true" autocomplete="off" checked ng-required="true"> Yes
                  </label>
                  <label class="btn btn-radio btn-primary" ng-class="{'active': !permit.permits.row.parties.holder.isInfrastructureOwner}">
                    <input type="radio" name="rowHoldingEntityIsInfrastructureOwner" ng-model="permit.permits.row.parties.holder.isInfrastructureOwner" ng-value="false" autocomplete="off" ng-required="true"> No
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group animate-show" ng-show="permit.permits.row.parties.holder.entityType === 'Person'">
              <div class="col-sm-3">
                <label title="Personal names / First names">Personal name</label>
                <input class="form-control" type="text" name="rowHoldingEntityNamePersonal" placeholder="Personal name" ng-model="permit.permits.row.parties.holder.personalName" maxlength="128" ng-required="permit.permits.row.parties.holder.entityType === 'Person'">
              </div>
              <div class="col-sm-3">
                <label title="Surname / Family name / Patronymic">Surname</label>
                <input class="form-control" type="text" name="rowHoldingEntityNameSurname" placeholder="Surname" ng-model="permit.permits.row.parties.holder.surname" maxlength="128" ng-required="permit.permits.row.parties.holder.entityType === 'Person'">
              </div>
            </div>
            <div class="form-group animate-show" ng-show="permit.permits.row.parties.holder.entityType === 'Organisation'">
              <label class="col-sm-4 col-lg-3 text-right">Organisation Name</label>
              <div class="col-sm-8 col-lg-9">
                <input class="form-control" name="rowHoldingEntityName" type="text" placeholder="Name" ng-model="permit.permits.row.parties.holder.name" maxlength="128" ng-required="permit.permits.row.parties.holder.entityType === 'Organisation'">
              </div>
            </div>
            <div ng-show="!!permit.permits.row.parties.holder.entityType">
              <small>An email address is required. If you do not have an email address you may not be the Permit Holder. The Permit Application will be emailed to this address.</small>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Email</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingEntityEmail" type="email" placeholder="Email" ng-model="permit.permits.row.parties.holder.email" maxlength="512" ng-required="!!permit.permits.row.parties.holder.entityType">
                </div>
              </div>
              <small ng-show="permit.permits.row.parties.holder.entityType === 'Person'">If the Permit Holder is a Person, then a Mobile Phone number is required.</small>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Mobile Phone</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingEntityMobile" type="text" placeholder="+234.xxx xxx xxxx" ng-model="permit.permits.row.parties.holder.mobile" maxlength="36" ng-required="permit.permits.row.parties.holder.entityType === 'Person'">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Office Phone</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingEntityOfficePhone" type="text" placeholder="+234.xxx xxx xxxx" ng-model="permit.permits.row.parties.holder.officePhone" maxlength="36">
                </div>
              </div>
            </div>
            <div class="well well-sm" ng-show="!!permit.permits.row.parties.holder.entityType">
              <h4>Office Physical Address</h4>
              <small>A Postal Box is NOT acceptable for the Office Physical Address fields.<br />If you do not have a physical address you may not be the Permit Holder.</small>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Unit / Floor / Building Name / Building Number">Unit / Floor</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingEntityPhysicalAddressUnit" type="text" placeholder="Unit / Floor" ng-model="permit.permits.row.parties.holder.addresses.physical.unit" maxlength="50">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Number and Street / Lot Number">Number and Street</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingEntityPhysicalAddressStreet" type="text" placeholder="# Street" ng-model="permit.permits.row.parties.holder.addresses.physical.street" maxlength="128" ng-required="true">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Village / Town / Suburb / City">Suburb</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingEntityPhysicalAddressSuburb" type="text" placeholder="Suburb" ng-model="permit.permits.row.parties.holder.addresses.physical.suburb" maxlength="128" ng-required="true">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="State / Province / Territory / Prefecture">State</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingEntityPhysicalAddressState" type="text" placeholder="State" ng-model="permit.permits.row.parties.holder.addresses.physical.state" maxlength="50" ng-required="true">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Post Code / Zip Code">Post Code</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingEntityPhysicalAddressCode" type="text" placeholder="Post Code" ng-model="permit.permits.row.parties.holder.addresses.physical.postcode" maxlength="12">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Country</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingEntityPhysicalAddressCountry" type="text" placeholder="Country" ng-model="permit.permits.row.parties.holder.addresses.physical.country" maxlength="128" ng-required="true">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-5 col-sm-4 col-lg-3 text-right">Use Office Physical Address for Mailing Address?</label>
                <div class="col-xs-6 col-sm-6 col-lg-9">
                  <div class="btn-group btn-group-justified" role="group" aria-label="Permit Holder Office Address Is Also Mailing Address">
                    <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.parties.holder.addresses.physical.isMailing}">
                      <input type="radio" ng-model="permit.permits.row.parties.holder.addresses.physical.isMailing" ng-value="true" autocomplete="off" checked> Yes
                    </label>
                    <label class="btn btn-radio btn-primary" ng-class="{'active': !permit.permits.row.parties.holder.addresses.physical.isMailing}">
                      <input type="radio" ng-model="permit.permits.row.parties.holder.addresses.physical.isMailing" ng-value="false" autocomplete="off"> No
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="well well-sm" ng-show="!!permit.permits.row.parties.holder.entityType">
              <h4>Office Mailing Address</h4>
              <div ng-show="permit.permits.row.parties.holder.addresses.physical.isMailing">
                <dl class="dl-horizontal">
                  <dt>Office Mailing Address:</dt>
                  <dd>Use the Office Physical Address</dd>
                </dl>
              </div>
              <div ng-show="!permit.permits.row.parties.holder.addresses.physical.isMailing">
                <div class="form-group">
                  <label class="col-sm-4 col-lg-3 text-right" title="Unit / Floor / Building Name / Building Number">Unit / Floor</label>
                  <div class="col-sm-8 col-lg-9">
                    <input class="form-control" name="rowHoldingEntityMailingAddressUnit" type="text" placeholder="Unit / Floor" ng-model="permit.permits.row.parties.holder.addresses.mailing.unit" maxlength="50">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 col-lg-3 text-right" title="Number and Street / Lot Number">Number and Street</label>
                  <div class="col-sm-8 col-lg-9">
                    <input class="form-control" name="rowHoldingEntityMailingAddressStreet" type="text" placeholder="# Street" ng-model="permit.permits.row.parties.holder.addresses.mailing.street" maxlength="128" ng-required="!permit.permits.row.parties.holder.addresses.physical.isMailing">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 col-lg-3 text-right" title="Village / Town / Suburb / City">Suburb</label>
                  <div class="col-sm-8 col-lg-9">
                    <input class="form-control" name="rowHoldingEntityMailingAddressSuburb" type="text" placeholder="Suburb" ng-model="permit.permits.row.parties.holder.addresses.mailing.suburb" maxlength="128" ng-required="!permit.permits.row.parties.holder.addresses.physical.isMailing">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 col-lg-3 text-right" title="State / Province / Territory / Prefecture">State</label>
                  <div class="col-sm-8 col-lg-9">
                    <input class="form-control" name="rowHoldingEntityMailingAddressState" type="text" placeholder="State" ng-model="permit.permits.row.parties.holder.addresses.mailing.state" maxlength="50" ng-required="!permit.permits.row.parties.holder.addresses.physical.isMailing">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 col-lg-3 text-right" title="Post Code / Zip Code">Post Code</label>
                  <div class="col-sm-8 col-lg-9">
                    <input class="form-control" name="rowHoldingEntityMailingAddressCode" type="text" placeholder="Post Code" ng-model="permit.permits.row.parties.holder.addresses.mailing.postcode" maxlength="12">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 col-lg-3 text-right">Country</label>
                  <div class="col-sm-8 col-lg-9">
                    <input class="form-control" name="rowHoldingEntityMailingAddressCountry" type="text" placeholder="Country" ng-model="permit.permits.row.parties.holder.addresses.mailing.country" maxlength="128" ng-required="!permit.permits.row.parties.holder.addresses.physical.isMailing">
                  </div>
                </div>
                <div class="form-group" ng-show="false">
                  <input class="form-control" type="text" ng-model="permit.permits.row.parties.holder.addresses.mailing.isMailing" ng-value="true">
                </div>
              </div>
            </div>
          </div>
          <div id="PermitApplicationHolderContact" class="well well-sm" ng-show="!!permit.permits.row.parties.holder.entityType">
            <h3 id="RoWPermitHolderContact">Permit Holder Contact</h3>
            <small>A Permit Holder Contact is required if the Permit Holder is an Organisation or the Permit Holder is not based in Nigeria.</small>
            <div ng-show="permit.permits.row.parties.holder.entityType === 'Person' && permit.permits.row.parties.holder.addresses.physical.country === 'Nigeria'">
              <dl class="dl-horizontal">
                <dt>Permit Holder Contact:</dt>
                <dd>Will be the Permit Holder</dd>
              </dl>
            </div>
            <div ng-show="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
              <small>The Permit Holder Contact must be an individual, based in Nigeria, who is contactable by electronic means, especially via email and txt message (sms).</small><br />
              <div class="form-group">
                <div class="col-sm-3">
                  <label title="Personal names / First names">Personal name</label>
                  <input class="form-control" type="text" name="rowHoldingContactNamePersonal" placeholder="Personal name" ng-model="permit.permits.row.parties.holderContact.personalName" maxlength="128" ng-required="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
                </div>
                <div class="col-sm-3">
                  <label title="Surname / Family name / Patronymic">Surname</label>
                  <input class="form-control" type="text" name="rowHoldingContactNameSurname" placeholder="Surname" ng-model="permit.permits.row.parties.holderContact.surname" maxlength="128" ng-required="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
                </div>
              </div>
              <small>A copy of the Permit Application will be emailed to this address.</small>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Email</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control col-sm-6" name="rowHoldingContactEmail" type="email" placeholder="Email" ng-model="permit.permits.row.parties.holderContact.email" maxlength="512" ng-required="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
                </div>
              </div>
              <small>All phone numbers provided must be Nigeria based, satellite service numbers are not acceptable.</small>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Mobile Phone</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingContactMobile" type="text" placeholder="+234.xxx xxx xxxx" ng-model="permit.permits.row.parties.holderContact.mobile" maxlength="36" ng-required="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Office Phone</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingContactOfficePhone" type="text" placeholder="+234.xxx xxx xxxx" ng-model="permit.permits.row.parties.holderContact.officePhone" maxlength="36">
                </div>
              </div>
              <h4>Permit Holding Contact Primary Mailing Address</h4>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Mailing Address Type</label>
                <div class="btn-group col-sm-8 col-lg-9" data-toggle="buttons" role="group" aria-label="Permit Holder Contact Mailing Address">
                  <label class="btn btn-primary active">
                    <input type="radio" name="rowHoldingContactMailingAddressPostal" id="rowHoldingContactMailingAddressPostalTrue" ng-model="permit.permits.row.parties.holderContact.addresses.mailing.isPostal" value="true" autocomplete="off" checked> Postal
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="rowHoldingContactMailingAddressPostal" id="rowHoldingContactMailingAddressPostalFalse" ng-model="permit.permits.row.parties.holderContact.addresses.mailing.isPostal" value="false" autocomplete="off"> Street
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Unit / Floor / Building Name / Building Number">Unit / Floor</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingContactMailingAddressUnit" type="text" placeholder="Unit / Floor" ng-model="permit.permits.row.parties.holderContact.addresses.mailing.unit" maxlength="50">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Number and Street / Lot Number">Number and Street</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingContactMailingAddressStreet" type="text" placeholder="# Street" ng-model="permit.permits.row.parties.holderContact.addresses.mailing.street" maxlength="128" ng-required="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Village / Town / Suburb / City">Suburb</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingContactMailingAddressSuburb" type="text" placeholder="Suburb" ng-model="permit.permits.row.parties.holderContact.addresses.mailing.suburb" maxlength="128" ng-required="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="State / Province / Territory / Prefecture">State</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingContactMailingAddressState" type="text" placeholder="State" ng-model="permit.permits.row.parties.holderContact.addresses.mailing.state" maxlength="50" ng-required="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Post Code / Zip Code">Post Code</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingContactMailingAddressCode" type="text" placeholder="Post Code" ng-model="permit.permits.row.parties.holderContact.addresses.mailing.postcode" maxlength="12">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Country</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowHoldingContactMailingAddressCountry" type="text" placeholder="Country" ng-model="permit.permits.row.parties.holderContact.addresses.mailing.country" maxlength="128" ng-required="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
                </div>
              </div>
            </div>
          </div>
          <div id="PermitApplicationInfOwner" class="well well-sm" ng-show="!!permit.permits.row.parties.holder.entityType">
            <h3 id="RoWPermitInfOwner">Infrastructure Owner</h3>
            <div ng-show="permit.permits.row.parties.holder.isInfrastructureOwner">
              <dl class="dl-horizontal">
                <dt>Infrastructure Owner:</dt>
                <dd>Will be the Permit Holder</dd>
              </dl>
            </div>
            <div ng-show="!permit.permits.row.parties.holder.isInfrastructureOwner">
              <div class="form-group row">
                <label class="col-xs-6 col-sm-5 col-md-4 col-lg-3 text-right">The Infrastructure Owner is a:</label>
                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                  <div class="btn-group btn-group-justified" role="group" aria-label="Permit Holding Entity Type">
                    <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.parties.infOwner.entityType == 'Person'}">
                      <input type="radio" name="rowInfOwnerEntityType" ng-model="permit.permits.row.parties.infOwner.entityType" value="Person" autocomplete="off" ng-required="!permit.permits.row.parties.holder.isInfrastructureOwner"> Person
                    </label>
                    <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.parties.infOwner.entityType == 'Organisation'}">
                      <input type="radio" name="rowInfOwnerEntityType" ng-model="permit.permits.row.parties.infOwner.entityType" value="Organisation" autocomplete="off" ng-required="!permit.permits.row.parties.holder.isInfrastructureOwner"> Organisation
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group animate-show" ng-show="permit.permits.row.parties.infOwner.entityType === 'Person'">
                <div class="col-sm-3">
                  <label title="Personal names / First names">Personal name</label>
                  <input class="form-control" type="text" name="rowInfOwnerEntityNamePersonal" placeholder="Personal name" ng-model="permit.permits.row.parties.infOwner.personalName" maxlength="128" ng-required="permit.permits.row.parties.infOwner.entityType === 'Person'">
                </div>
                <div class="col-sm-3">
                  <label title="Surname / Family name / Patronymic">Surname</label>
                  <input class="form-control" type="text" name="rowInfOwnerEntityNameSurname" placeholder="Surname" ng-model="permit.permits.row.parties.infOwner.surname" maxlength="128" ng-required="permit.permits.row.parties.infOwner.entityType === 'Person'">
                </div>
              </div>
              <div class="form-group animate-show" ng-show="permit.permits.row.parties.infOwner.entityType === 'Organisation'">
                <label class="col-sm-4 col-lg-3 text-right">Organisation Name</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowInfOwnerEntityName" type="text" placeholder="Name" ng-model="permit.permits.row.parties.infOwner.name" maxlength="128" ng-required="permit.permits.row.parties.infOwner.entityType === 'Organisation'">
                </div>
              </div>
              <small>A copy of the Permit Application will be emailed to this address.</small>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Email</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control col-sm-6" name="rowInfOwnerEmail" type="email" placeholder="Email" ng-model="permit.permits.row.parties.infOwner.email" maxlength="512">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Mobile Phone</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowInfOwnerMobile" type="text" placeholder="+234.xxx xxx xxxx" ng-model="permit.permits.row.parties.infOwner.mobile" maxlength="36">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Office Phone</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowInfOwnerOfficePhone" type="text" placeholder="+234.xxx xxx xxxx" ng-model="permit.permits.row.parties.infOwner.officePhone" maxlength="36">
                </div>
              </div>
              <h4>Infrastructure Owner Primary Mailing Address</h4>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Mailing Address Type</label>
                <div class="btn-group col-sm-8 col-lg-9" data-toggle="buttons" role="group" aria-label="Infrastructure Owner Mailing Address">
                  <label class="btn btn-primary active">
                    <input type="radio" name="rowInfOwnerMailingAddressPostal" id="rowInfOwnerMailingAddressPostalTrue" ng-model="permit.permits.row.parties.infOwner.addresses.mailing.isPostal" value="true" autocomplete="off" checked> Postal
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="rowInfOwnerMailingAddressPostal" id="rowInfOwnerMailingAddressPostalFalse" ng-model="permit.permits.row.parties.infOwner.addresses.mailing.isPostal" value="false" autocomplete="off"> Street
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Unit / Floor / Building Name / Building Number">Unit / Floor</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowInfOwnerMailingAddressUnit" type="text" placeholder="Unit / Floor" ng-model="permit.permits.row.parties.infOwner.addresses.mailing.unit" maxlength="50">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Number and Street / Lot Number">Number and Street</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowInfOwnerMailingAddressStreet" type="text" placeholder="# Street" ng-model="permit.permits.row.parties.infOwner.addresses.mailing.street" maxlength="128" ng-required="!permit.permits.row.parties.holder.isInfrastructureOwner">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Village / Town / Suburb / City">Suburb</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowInfOwnerMailingAddressSuburb" type="text" placeholder="Suburb" ng-model="permit.permits.row.parties.infOwner.addresses.mailing.suburb" maxlength="128" ng-required="!permit.permits.row.parties.holder.isInfrastructureOwner">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="State / Province / Territory / Prefecture">State</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowInfOwnerMailingAddressState" type="text" placeholder="State" ng-model="permit.permits.row.parties.infOwner.addresses.mailing.state" maxlength="50" ng-required="!permit.permits.row.parties.holder.isInfrastructureOwner">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right" title="Post Code / Zip Code">Post Code</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowInfOwnerMailingAddressCode" type="text" placeholder="Post Code" ng-model="permit.permits.row.parties.infOwner.addresses.mailing.postcode" maxlength="12">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 col-lg-3 text-right">Country</label>
                <div class="col-sm-8 col-lg-9">
                  <input class="form-control" name="rowInfOwnerMailingAddressCountry" type="text" placeholder="Country" ng-model="permit.permits.row.parties.infOwner.addresses.mailing.country" maxlength="128" ng-required="!permit.permits.row.parties.holder.isInfrastructureOwner">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bs-docs-section" ng-show="permit.permits.row.isPreview && !!permit.permits.row.parties.holder.entityType">
          <div class="well well-sm">
            <h4>Permit Holder {{permit.permits.row.parties.holder.isInfrastructureOwner ? " and Infrastructure Owner" : ""}}</h4>
            <div class="row">
              <label class="col-xs-4 col-lg-3 text-right">Name</label>
              <div class="col-xs-8 col-lg-9" ng-show="permit.permits.row.parties.holder.entityType === 'Person'">
                <span>{{permit.permits.row.parties.holder.personalName}}</span>
                <span><strong>{{permit.permits.row.parties.holder.surname}}</strong></span>
              </div>
              <div class="col-xs-8 col-lg-9" ng-show="permit.permits.row.parties.holder.entityType === 'Organisation'">
                <span><strong>{{permit.permits.row.parties.holder.name}}</strong></span>
              </div>
            </div>
            <div class="row" ng-show="!!permit.permits.row.parties.holder.email">
              <label class="col-xs-4 col-lg-3 text-right">Email</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.holder.email}}</span>
              </div>
            </div>
            <div class="row" ng-show="!!permit.permits.row.parties.holder.mobile">
              <label class="col-xs-4 col-lg-3 text-right">Mobile Phone</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.holder.mobile}}</span>
              </div>
            </div>
            <div class="row" ng-show="!!permit.permits.row.parties.holder.officePhone">
              <label class="col-xs-4 col-lg-3 text-right">Office Phone</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.holder.officePhone}}</span>
              </div>
            </div>
            <div class="well well-sm" ng-show="permit.permits.row.parties.holder.addresses.physical.suburb">
              <h4>Office Physical {{permit.permits.row.parties.holder.addresses.physical.isMailing ? "and Mailing" : ""}} Address</h4>
              <div class="row">
                <label class="col-xs-4 col-lg-3 text-right">Address</label>
                <div class="col-xs-8 col-lg-9">
                  <address>
                    <span ng-show="permit.permits.row.parties.holder.addresses.physical.unit">{{permit.permits.row.parties.holder.addresses.physical.unit}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.physical.street">{{permit.permits.row.parties.holder.addresses.physical.street}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.physical.suburb">{{permit.permits.row.parties.holder.addresses.physical.suburb}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.physical.state">{{permit.permits.row.parties.holder.addresses.physical.state}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.physical.postcode">{{permit.permits.row.parties.holder.addresses.physical.postcode}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.physical.country">{{permit.permits.row.parties.holder.addresses.physical.country}}</span>
                  </address>
                </div>
              </div>
            </div>
            <div class="well well-sm" ng-show="!permit.permits.row.parties.holder.addresses.physical.isMailing && permit.permits.row.parties.holder.addresses.mailing.suburb">
              <h4>Office Mailing Address</h4>
              <div class="row">
                <label class="col-xs-4 col-lg-3 text-right">Address</label>
                <div class="col-xs-8 col-lg-9">
                  <address>
                    <span ng-show="permit.permits.row.parties.holder.addresses.mailing.unit">{{permit.permits.row.parties.holder.addresses.mailing.unit}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.mailing.street">{{permit.permits.row.parties.holder.addresses.mailing.street}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.mailing.suburb">{{permit.permits.row.parties.holder.addresses.mailing.suburb}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.mailing.state">{{permit.permits.row.parties.holder.addresses.mailing.state}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.mailing.postcode">{{permit.permits.row.parties.holder.addresses.mailing.postcode}} </span>
                    <span ng-show="permit.permits.row.parties.holder.addresses.mailing.country">{{permit.permits.row.parties.holder.addresses.mailing.country}}</span>
                  </address>
                </div>
              </div>
            </div>
          </div>
          <div class="well well-sm" ng-show="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'">
            <h4>Permit Holder Contact</h4>
            <div class="row">
              <label class="col-xs-4 col-lg-3 text-right">Name</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.holderContact.personalName}}</span>
                <span><strong>{{permit.permits.row.parties.holderContact.surname}}</strong></span>
              </div>
            </div>
            <div class="row" ng-show="!!permit.permits.row.parties.holderContact.email">
              <label class="col-xs-4 col-lg-3 text-right">Email</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.holderContact.email}}</span>
              </div>
            </div>
            <div class="row" ng-show="!!permit.permits.row.parties.holderContact.mobile">
              <label class="col-xs-4 col-lg-3 text-right">Mobile Phone</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.holderContact.mobile}}</span>
              </div>
            </div>
            <div class="row" ng-show="!!permit.permits.row.parties.holderContact.officePhone">
              <label class="col-xs-4 col-lg-3 text-right">Office Phone</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.holderContact.officePhone}}</span>
              </div>
            </div>
            <div class="well well-sm" ng-show="permit.permits.row.parties.holderContact.addresses.physical.suburb">
              <h4>Office Physical Address {{permit.permits.row.parties.holderContact.addresses.physical.isMailing ? "and Office Mailing Address" : ""}}</h4>
              <div class="row">
                <label class="col-xs-4 col-lg-3 text-right">Address</label>
                <div class="col-xs-8 col-lg-9">
                  <address>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.physical.unit">{{permit.permits.row.parties.holderContact.addresses.physical.unit}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.physical.street">{{permit.permits.row.parties.holderContact.addresses.physical.street}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.physical.suburb">{{permit.permits.row.parties.holderContact.addresses.physical.suburb}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.physical.state">{{permit.permits.row.parties.holderContact.addresses.physical.state}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.physical.postcode">{{permit.permits.row.parties.holderContact.addresses.physical.postcode}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.physical.country">{{permit.permits.row.parties.holderContact.addresses.physical.country}} </span>
                  </address>
                </div>
              </div>
            </div>
            <div class="well well-sm" ng-show="!permit.permits.row.parties.holderContact.addresses.physical.isMailing && permit.permits.row.parties.holderContact.addresses.mailing.suburb">
              <h4>Office Mailing Address</h4>
              <div class="row">
                <label class="col-xs-4 col-lg-3 text-right">Address</label>
                <div class="col-xs-8 col-lg-9">
                  <address>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.mailing.unit">{{permit.permits.row.parties.holderContact.addresses.mailing.unit}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.mailing.street">{{permit.permits.row.parties.holderContact.addresses.mailing.street}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.mailing.suburb">{{permit.permits.row.parties.holderContact.addresses.mailing.suburb}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.mailing.state">{{permit.permits.row.parties.holderContact.addresses.mailing.state}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.mailing.postcode">{{permit.permits.row.parties.holderContact.addresses.mailing.postcode}} </span>
                    <span ng-show="permit.permits.row.parties.holderContact.addresses.mailing.country">{{permit.permits.row.parties.holderContact.addresses.mailing.country}} </span>
                  </address>
                </div>
              </div>
            </div>
          </div>
          <div class="well well-sm" ng-show="!permit.permits.row.parties.holder.isInfrastructureOwner">
            <h4>Infrastructure Owner</h4>
            <div class="row">
              <label class="col-xs-4 col-lg-3 text-right">Name</label>
              <div class="col-xs-8 col-lg-9" ng-show="permit.permits.row.parties.infOwner.entityType === 'Person'">
                <span>{{permit.permits.row.parties.infOwner.personalName}}</span>
                <span><strong>{{permit.permits.row.parties.infOwner.surname}}</strong></span>
              </div>
              <div class="col-xs-8 col-lg-9" ng-show="permit.permits.row.parties.infOwner.entityType === 'Organisation'">
                <span><strong>{{permit.permits.row.parties.infOwner.name}}</strong></span>
              </div>
            </div>
            <div class="row" ng-show="!!permit.permits.row.parties.infOwner.email">
              <label class="col-xs-4 col-lg-3 text-right">Email</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.infOwner.email}}</span>
              </div>
            </div>
            <div class="row" ng-show="!!permit.permits.row.parties.infOwner.mobile">
              <label class="col-xs-4 col-lg-3 text-right">Mobile Phone</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.infOwner.mobile}}</span>
              </div>
            </div>
            <div class="row" ng-show="!!permit.permits.row.parties.infOwner.officePhone">
              <label class="col-xs-4 col-lg-3 text-right">Office Phone</label>
              <div class="col-xs-8 col-lg-9">
                <span>{{permit.permits.row.parties.infOwner.officePhone}}</span>
              </div>
            </div>
            <div class="well well-sm" ng-show="permit.permits.row.parties.infOwner.addresses.physical.suburb">
              <h4>Office Physical Address {{permit.permits.row.parties.infOwner.addresses.physical.isMailing ? "and Office Mailing Address" : ""}}</h4>
              <div class="row">
                <label class="col-xs-4 col-lg-3 text-right">Address</label>
                <div class="col-xs-8 col-lg-9">
                  <address>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.physical.unit">{{permit.permits.row.parties.infOwner.addresses.physical.unit}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.physical.street">{{permit.permits.row.parties.infOwner.addresses.physical.street}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.physical.suburb">{{permit.permits.row.parties.infOwner.addresses.physical.suburb}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.physical.state">{{permit.permits.row.parties.infOwner.addresses.physical.state}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.physical.postcode">{{permit.permits.row.parties.infOwner.addresses.physical.postcode}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.physical.country">{{permit.permits.row.parties.infOwner.addresses.physical.country}} </span>
                  </address>
                </div>
              </div>
            </div>
            <div class="well well-sm" ng-show="!permit.permits.row.parties.infOwner.addresses.physical.isMailing && permit.permits.row.parties.infOwner.addresses.mailing.suburb">
              <h4>Office Mailing Address</h4>
              <div class="row">
                <label class="col-xs-4 col-lg-3 text-right">Address</label>
                <div class="col-xs-8 col-lg-9">
                  <address>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.mailing.unit">{{permit.permits.row.parties.infOwner.addresses.mailing.unit}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.mailing.street">{{permit.permits.row.parties.infOwner.addresses.mailing.street}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.mailing.suburb">{{permit.permits.row.parties.infOwner.addresses.mailing.suburb}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.mailing.state">{{permit.permits.row.parties.infOwner.addresses.mailing.state}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.mailing.postcode">{{permit.permits.row.parties.infOwner.addresses.mailing.postcode}} </span>
                    <span ng-show="permit.permits.row.parties.infOwner.addresses.mailing.country">{{permit.permits.row.parties.infOwner.addresses.mailing.country}}</span>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bs-docs-section">
          <h2 id="PermitApplicationLocation">
            <a class="anchorjs-link" href="#PermitApplicationLocation" aria-label="Anchor link for: permit application location">Location / Route of Infrastructure</a>
          </h2>
          <div class="form-group row" ng-hide="permit.permits.row.isPreview">
            <p>
              Drawing on the map, show the route required for this Right-of-Way permit.<br />
              The GPS coordinates, and total distance in meters (rounded down to the nearest meter) will be calculated for you.<br />
              If the route is non-contiguous (has breaks or gaps) then you will be issued with individual Right-of-Way Permits for each section.<br />
              If you make a mistake then you will need to reset the map to erase all of the routes and start again.
            </p>
            <p>If you have a lot of infrastructure, or it covers a large area, then you can do multiple submissions as follows:</p>
            <ol>
              <li>Enter all of the required contact information above</li>
              <li>Draw a section of your infrastructure below</li>
              <li>Submit your application (all the information you have entered will still remain on screen)</li>
              <li>Click the "Reset Map" button to clear the map data</li>
              <li>Draw the next section of your infrastructure</li>
            </ol>
          </div>
          <div class="form-group row">
            <label class="col-xs-3 col-sm-4 col-md-3 col-lg-2 text-right">Location Includes:</label>
            <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10" ng-hide="permit.permits.row.isPreview">
              <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure Location">
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.isSpecialZone}">
                  <input type="radio" name="infLoc" ng-model="permit.permits.row.isSpecialZone" ng-value="true" autocomplete="off" ng-required="true"> Business District <br /> High Density Zone
                </label>
                <label class="btn btn-radio btn-primary" ng-class="{'active': !permit.permits.row.isSpecialZone}">
                  <input type="radio" name="infLoc" ng-model="permit.permits.row.isSpecialZone" ng-value="false" autocomplete="off" ng-required="true"> No Business or <br /> High Density
                </label>
              </div>
            </div>
            <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10" ng-hide="!permit.permits.row.isPreview">
              <span>{{permit.permits.row.isSpecialZone ? "Business District / High Density Zone" : "No Business or High Density"}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-3 col-sm-4 col-md-3 col-lg-2 text-right">Construction Method:</label>
            <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10" ng-hide="permit.permits.row.isPreview">
              <div class="btn-group btn-group-justified" role="group" aria-label="Infrastructure Type">
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.consType == 'Trenching'}">
                  <input type="radio" name="consType" ng-model="permit.permits.row.consType" value="Trenching" autocomplete="off" ng-required="true"> Trenching
                </label>
                <label class="btn btn-radio btn-primary" ng-class="{'active': permit.permits.row.consType == 'HorizontalDrilling'}">
                  <input type="radio" name="consType" ng-model="permit.permits.row.consType" value="HorizontalDrilling" autocomplete="off" ng-required="true"> Horizontal Drilling
                </label>
              </div>
            </div>
            <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10" ng-hide="!permit.permits.row.isPreview">
              <span>{{permit.permits.row.consType == 'Trenching' ? "Trenching" : "Horizontal Drilling"}}</span>
            </div>
          </div>
        </div>
      <div id="PermitApplicationMap" ng-controller="geoDataController">
        <div class="row">
          <div class="col-xs-12 afterMap">
            <div id="map" ng-class="{'isPreview': permit.permits.row.isPreview}"></div>
          </div>
        </div>
        <div class="row" ng-hide="permit.permits.row.isPreview">
          <div class="col-xs-3">
            <dl class="dl-horizontal">
              <dt>GeoData Service is:</dt>
              <dd>{{geoData.IsDbConnected ? "connected" : "not available"}}</dd>
            </dl>
          </div>
          <div class="col-xs-3">
            <dl class="dl-horizontal" title="Zoom the map to fit your infrastructure">
              <dt>Zoom to<br/>infrastructure</dt>
              <dd>
                <input class="btn" id="FitMap" type="button" value="Fit Map" ng-click="geoData.FitMap()" ng-disabled="permit.permits.row.totalDistance <= 0" />
              </dd>
            </dl>
          </div>
          <div class="col-xs-3">
            <dl class="dl-horizontal" title="Clear all of the infrastructure data you've drawn">
              <dt>Clear map data</dt>
              <dd>
                <input class="btn" id="ResetMap" type="button" value="Reset Map" ng-click="geoData.ResetMap()"/>
              </dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3 id="PermitApplicationLocationCalculation">Location Details</h3>
          </div>
        </div>
        <div class="row" ng-show="!!permit.permits.row.locationRoutes && permit.permits.row.locationRoutes.length > 0">
          <div class="col-xs-5">
            <div ng-repeat="locationRoute in permit.permits.row.locationRoutes">
              <strong>Route of Your Infrastructure</strong>
              <ul ng-repeat="lonLat in locationRoute">
                <li>{{"Lon:" + lonLat[0].toFixed(7) + " Lat:" + lonLat[1].toFixed(7)}}</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-7">
            <div ng-repeat="locationDescs in permit.permits.row.locationDescriptions">
              <strong>Location of Your Infrastructure</strong>
              <ul ng-repeat="locDesc in locationDescs">
                <li>{{locDesc}}</li>
              </ul>
            </div>
          </div>
          <!-- This hidden field is present to force recalculation of the various fees below -->
          <pre id="location" ng-show="false">{{permit.permits.row | json}}</pre>
        </div>
      </div>
        <div class="bs-docs-section" ng-show="!!permit.permits.row.locationRoutes && permit.permits.row.locationRoutes.length > 0">
          <h2 id="PermitApplicationFeeEstimation">
            <a class="anchorjs-link" href="#PermitApplicationFeeEstimation" aria-label="Anchor link for: permit application fee estimation">Permit Application Fees</a>
          </h2>
          <div>
            <p ng-hide="permit.permits.row.isPreview">Note that the fees will be recalculated on the server.</p>
            <p>Assuming that you have made a full and valid declaration the fees and penalties shown will be correct.</p>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover">
              <thead>
              <tr>
                <th class="col-xs-6">Item</th>
                <th class="col-xs-1 text-right">Unit</th>
                <th class="col-xs-1 text-right">Rate</th>
                <th class="col-xs-2">&nbsp;</th>
                <th class="col-xs-2 text-right">Total</th>
              </tr>
              </thead>
              <tbody>
              <tr class="animate-show" ng-repeat="fee in permit.calc.fees | filter: permit.calc.applicationFilter">
                <td>{{fee.name}}</td>
                <td class="text-right">{{fee.units($parent.permit.permits.row.totalDistance, $parent.permit.permits.row.distances.length)}}</td>
                <td class="text-right">{{fee.rate | currency: "N&nbsp;": 0}}</td>
                <td>{{fee.rateDesc()}}</td>
                <td class="text-right">{{fee.total($parent.permit.permits.row.totalDistance, $parent.permit.permits.row.distances.length) | currency: "N&nbsp;": 0}}</td>
              </tr>
              </tbody>
              <tfoot>
              <tr class="animate-show">
                <td class="text-right" colspan="4"><strong>Application Fee Total</strong></td>
                <td class="text-right"><strong>{{permit.calc.total(permit.calc.fees, permit.calc.applicationFilter, permit.permits.row.totalDistance, permit.permits.row.distances.length) | currency: "N&nbsp;": 0 }}</strong></td>
              </tr>
              </tfoot>
            </table>
          </div>
          <p ng-hide="permit.permits.row.isPreview">
            If you had not declared your infrastructure the fee would be: <strong>{{permit.calc.total(permit.calc.fees, permit.calc.undeclaredFilter, permit.permits.row.totalDistance, permit.permits.row.distances.length) | currency: "N&nbsp;": 0 }}</strong>
          </p>
        </div>
        <div class="bs-docs-section hidden-print">
          <h2 id="PermitApplicationSubmit">
            <a class="anchorjs-link" href="#PermitApplicationSubmit" aria-label="Anchor link for: permit application submit">Preview and Submit Application</a>
          </h2>
          <div class="col-xs-12 row" ng-hide="permit.permits.row.isPreview" title="You need three green lights before the Preview button will be available">
            <span class="label" ng-class="{'label-success': !!permit.permits.row.parties.holder.entityType, 'label-warning': !permit.permits.row.parties.holder.entityType}">Permit Holder Declared </span>
            <span class="label" ng-class="{'label-success': permit.permits.row.totalDistance > 0, 'label-warning': permit.permits.row.totalDistance <= 0}">Route Declared </span>
            <span class="label" ng-class="{'label-success': !permit.permits.row.isPreview, 'label-warning': permit.permits.row.isPreview}">Ready to Preview </span>
          </div>
          <p ng-hide="permit.permits.row.isPreview" title="You need three green lights before the Preview button will be available">Enter all required information above before attempting to Preview and Submit your application.</p>
          <p ng-hide="permit.permits.row.isPreview">Note that contact details will be checked as part of the approval process.</p>
          <div class="form-group btn-group col-xs-12 row" aria-label="Print Preview and Submit">
            <div class="col-xs-3" title="You need three green lights before the Preview button will be available">
              <label class="btn btn-radio btn-info" ng-class="{'active': !permit.permits.row.isPreview}" ng-disabled="!(!!permit.permits.row.parties.holder.entityType) || permit.permits.row.totalDistance === 0 || permit.permits.row.isPreview">
                <input type="radio" name="isPrintPreview" ng-model="permit.permits.row.isPreview" ng-value="true" ng-click="geoData.FitMap()" autocomplete="off">Preview >>
              </label>
            </div>
            <div class="col-xs-3" title="Correct any problems before attempting to Submit">
              <label class="btn btn-radio btn-warning" ng-class="{'active': permit.permits.row.isPreview}" ng-disabled="!permit.permits.row.isPreview">
                <input type="radio" name="isPrintPreview" ng-model="permit.permits.row.isPreview" ng-value="false" ng-click="geoData.FitMap()" autocomplete="off"><< Correct
              </label>
            </div>
            <div class="col-xs-3" title="You must Preview first before the Submit button will be available">
              <button class="btn btn-primary" id="rowPartiesSave" type="submit" ng-disabled="!permit.permits.row.isPreview">Submit >></button>
            </div>
            <div class="col-xs-3">
              <div class="bg-success">{{submitResult}}</div>
            </div>
          </div>
          @*<dl class="dl-horizontal">
              <dt>Permit Submission Service is:</dt>
              <dd>{{permit.IsDbConnected ? "connected" : "not available"}}</dd>
            </dl>*@
        </div>
      </form>
    </div>
    <nav class="col-md-3 col-lg-2 hidden-xs hidden-sm hidden-print" id="rightSideNav">
      <ul class="nav nav-stacked affix-top" id="sidebar">
        <li ng-hide="permit.permits.row.isPreview">
          <a href="#PermitApplicationInstructions">Instructions</a>
        </li>
        <li>
          <a href="#PermitApplicationParties">Permit Parties</a>
          <ul class="nav nav-stacked" ng-show="!!permit.permits.row.parties.holder.entityType">
            <li><a href="#PermitApplicationHolder">Permit Holder</a></li>
            <li ng-show="permit.permits.row.parties.holder.entityType !== 'Person' || permit.permits.row.parties.holder.addresses.physical.country !== 'Nigeria'"><a href="#PermitApplicationHolderContact">Holder Contact</a></li>
            <li ng-show="!permit.permits.row.parties.holder.isInfrastructureOwner"><a href="#PermitApplicationInfOwner">Infrastructure Owner</a></li>
          </ul>
        </li>
        <li>
          <a href="#PermitApplicationLocation">Location</a>
          <ul class="nav nav-stacked">
            <li><a href="#PermitApplicationMap">Map</a></li>
            <li><a href="#PermitApplicationLocationCalculation">Details</a></li>
          </ul>
        </li>
        <li>
          <a href="#PermitApplicationFeeEstimation">Fees Estimate</a>
        </li>
        <li>
          <a href="#PermitApplicationSubmit">Submit</a>
        </li>
      </ul>

    </nav>
  </div>

  @*<div class="panel panel-default">
      <div class="panel-heading" role="tab" id="HeadingConstructionPermit">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ConstructionPermit" aria-expanded="false" aria-controls="collapseRowConstructionPermitHolder">
            Construction Permit Holder
          </a>
        </h4>
      </div>
      <div id="ConstructionPermit" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HeadingConstructionPermit">
        <div class="panel-body">
          <p>Enter details about how the Construction will be performed.</p>
          <dl>
            <dt title="Traffic Management may be Required">Will the construction be in or next to any roadway / driveway / vehicle access?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Next to Vehicle Access">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpVehicleAccess" id="cpVehicleAccessYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpVehicleAccess" id="cpVehicleAccessNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Traffic Management definitely Required">Will vehicle access be obstructed during construction?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Impacting to Vehicle Access">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpVehicleAccessImpact" id="cpVehicleAccessImpactYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpVehicleAccessImpact" id="cpVehicleAccessImpactNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Pedestrian Management may be Required">Will the construction be in or next to any pathway / walkway / pedestrian access?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Next to Pedestrian Access">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpPedestrianAccess" id="cpPedestrianAccessYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpPedestrianAccess" id="cpPedestrianAccessNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Pedestrian Management definitely Required">Will pedestrian access be obstructed during construction?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Impacting to Pedestrian Access">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpPedestrianAccessImpact" id="cpPedestrianAccessImpactYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpPedestrianAccessImpact" id="cpPedestrianAccessImpactNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Engineering Report may be Required">Will the construction be in, under or next to any structure?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Next to Structure">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpStructure" id="cpStructureYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpStructure" id="cpStructureNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Engineering Report definitely Required">Will any structure next to / over the construction be potentially affected in terms of its appearance / function / structural integrity?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Potentially Impacting Structure">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpStructureImpact" id="cpStructureImpactYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpStructureImpact" id="cpStructureImpactNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
          </dl>
          <p>Enter details about the immediate area (50m) around Construction.</p>
          <dl>
            <dt title="Restricted Hours of Operation, Noise Levels, Use of Artificial Lighting, Number of Vehicles parked on street">Are there residential dwellings?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Residences">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpAreaResidential" id="cpAreaResidentialYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpAreaResidential" id="cpAreaResidentialNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Restricted Hours of Operation, Noise Levels, Number of Vehicles parked on street">Are there office buildings?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Offices">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpAreaOffice" id="cpAreaOfficeYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpAreaOffice" id="cpAreaOfficeNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Restricted Number of Vehicles parked on street">Are there industrial buildings and other structures?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Industry and Other Structures">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpAreaIndustrial" id="cpAreaIndustrialYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpAreaIndustrial" id="cpAreaIndustrialNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
            <dt title="Restricted Number of Vehicles parked on street, potential security restrictions">Are there Federal / State services (including emergency services, hospitals)?</dt>
            <dd>
              <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Federal / State Services / Emergency Services">
                <label class="btn btn-primary active">
                  <input type="radio" name="cpAreaSpecial" id="cpAreaSpecialYes" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cpAreaSpecial" id="cpAreaSpecialNo" autocomplete="off"> No
                </label>
              </div>
            </dd>
          </dl>
          <p>Enter the required details for whom the Construction permit(s) will be issued to.</p>
          <dl>
            <dt>Organisation Name</dt>
            <dd><input id="cpOrgName" type="text" /></dd>
            <dt>Organisation Physical Address</dt>
            <dd><input id="cpOrgAddressPhysical" type="text" /></dd>
            <dt>Organisation Mailing Address</dt>
            <dd><input id="cpOrgAddressMailing" type="text" /></dd>
            <dt>Organisation Phone Number</dt>
            <dd><input id="cpOrgPhone" type="text" /></dd>
            <dt>Organisation Email Address</dt>
            <dd><input id="cpOrgEmail" type="email" /></dd>
            <dt>Organisation Contact Person</dt>
            <dd><input id="cpOrgContact" type="text" /></dd>
            <dt>Organisation Contact Phone</dt>
            <dd><input id="cpOrgContactPhone" type="text" /></dd>
          </dl>
          <p>Construction permits have a short life span and are limited in area. The area will also be limited on the basis of how the construction will impact the use of public assets such as roads and footpaths.</p>
          <p>We recommend you break up your route into several areas and request an appropriate number of Construction permits covering each area and spread across several time periods. Taking into account all of the factors that will affect your construction.</p>
        </div>
      </div>
    </div>*@
</div>

@section scripts
{
  <script src="@mapInitUrl" async defer></script>
}
