@{
  ViewData["Title"] = "Permit - Right-of-Way";
  var geoCodeKey = ViewData["GoogleAPIKey"];
  var mapKey = ViewData["GoogleAPIBrowserKey"];
  var mapInitUrl = "https://maps.googleapis.com/maps/api/js?key=" + mapKey + "&libraries=drawing,geometry&callback=initMap";
  //var mapInitUrl = "http://maps.google.com/maps?file=api&amp;v=2&amp;key=" + @mapKey;

  var mapUrl = ViewData["Map:Url"];
}

<h2>@ViewData["Title"]</h2>

<div class="panel-group" id="AccordRow" role="tablist" aria-multiselectable="true" ng-controller="geoDataController">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="HeadingRoWInstructions">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#AccordRow" href="#RoWInstructions" aria-expanded="true" aria-controls="collapseRoWInstructions">
        Issuing a Right-of-Way Permit
      </a>
    </h4>
  </div>
  <div id="RoWInstructions" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="HeadingRoWInstructions">
    <div class="panel-body">
      <p>To obtain a Right-of-Way Permit for your infrastructure several things are required:</p>
      <ul>
        <li>The Permit Holder must be identified.</li>
        <li>Other people and organisations may need to be identified.</li>
        <li>The route of your infrastructure must be clearly identified.</li>
        <li>If you are putting in new infrastructure then a Construction Permit is also required.</li>
        <li>The relevant fees, charges and penalties must be paid.</li>
        <li><small>(Some other agencies may require you to obtain relevant permits / authorisation also - LASIMRA and its authorised agencies are not responsible for this)</small></li>
      </ul>
      <p>To keep a Right-of-Way Permit for your infrastructure:</p>
      <ul>
        <li>You must notify of any changes to the details for the Permit holder.</li>
        <li>Notify of any significant discrepancies in the route of your infrastructure from that of your Right-of-Way Permit.</li>
        <li>Any remediation works required must be performed. Normally you will be billed for these works to be done for you.</li>
      </ul>
      <p>Important notes about Right-of-Way Permits:</p>
      <pre>
Right-of-Way Permits may be invalidated and reissued at the discretion of LASIMRA or its authorised agencies.
You will not be charged a fee for this except for changes to the name of the Permit Holder, 
for example a change of company name, or transfer of ownership of the Permit.</pre>
      <pre>
If you have a lot of infrastructure it is recommended that you obtain multiple Right-of-Way Permits instead of just one.
The infrastructure covered by a Right-of-Way Permit must be contiguous (no breaks).</pre>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="HeadingRowPermitHolder">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#AccordRow" href="#RoWPermitHolder" aria-expanded="true" aria-controls="collapseRowPermitHolder">
        Permit Holder
      </a>
    </h4>
  </div>
  <div id="RoWPermitHolder" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="HeadingRowPermit">
    <div class="panel-body">
      <dl>
        <dt>The Permit Holder is a:</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Permit Holding Entity Type">
            <label class="btn btn-primary active">
              <input type="radio" name="rowHoldingEntityType" id="rowHoldingEntityTypePerson" autocomplete="off" checked> Person
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="rowHoldingEntityType" id="rowHoldingEntityTypeOrganisation" autocomplete="off"> Organisation
            </label>
          </div>
        </dd>
        <dt>Name</dt>
        <dd><input id="rowHoldingEntityName" type="text" name="rowHoldingEntityName" maxlength="128" required="required"/></dd>
        <dt>Street Address</dt>
        <dd><textarea id="rowHoldingEntityAddressStreet" type="text" name="rowHoldingEntityAddressStreet" required="required" rows="3"></textarea></dd>
        <dt>Suburb / City</dt>
        <dd><input id="rowHoldingEntityAddressSuburb" type="text" name="rowHoldingEntityAddressSuburb" maxlength="128" required="required"/></dd>
        <dt>State / Province / Territory</dt>
        <dd><input id="rowHoldingEntityAddressState" type="text" name="rowHoldingEntityAddressState" maxlength="128" required="required" value="Lagos"/></dd>
        <dt>Postal Code / Zip Code</dt>
        <dd><input id="rowHoldingEntityAddressCode" type="text" name="rowHoldingEntityAddressCode" maxlength="12"/></dd>
        <dt>Country</dt>
        <dd><input id="rowHoldingEntityAddressCountry" type="text" name="rowHoldingEntityAddressCountry" maxlength="128" required="required" value="Nigeria"/></dd>
      </dl>
      <p>Permit Holder</p>
      <p>Note that contact details will be checked as part of the approval process.</p>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="HeadingRoWLocation">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#AccordRow" href="#RoWLocation" aria-expanded="false" aria-controls="collapseRowLocation">
        Location
      </a>
    </h4>
  </div>
  <div id="RoWLocation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HeadingRoWLocation">
    <div class="panel-body">
      <p>Drawing on the map, show the route required for this Right-of-Way permit.</p>
      <p>The GPS coordinates, and total distance in meters (rounded down to the nearest meter) will be calculated for you.</p>
      <p>The route must have no breaks.</p>
      <div class="row">
        <div class="col-md-4">
          <h2>Infrastructure Route</h2>
          <dl id="infRt">
            <dt>Rate per m</dt>
            <dd><input name="RatePerM" id="RatePerM" type="text" value="500"/></dd>
            <dt>Rate per Construction Permit</dt>
            <dd><input name="RatePerCP" id="RatePerCP" type="text" value="10000"/></dd>
          </dl>
          <dl>
            <dt>GeoData is:</dt>
            <dd>{{IsDbConnected ? "connected" : "not available"}}</dd>
          </dl>
          <ul>
            <li ng-repeat="gd in geoData">{{gd.Id}}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Map</h2>
          <p>Draw your infrastructure route on the map below.</p>
          <p>To finish; double-click the last point on your route, or click on the hand symbol.</p>
          <div id="map" style="height: 480px; width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="HeadingConstructionPermit">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ConstructionPermit" aria-expanded="false" aria-controls="collapseRowConstructionPermitHolder">
        Construction Permit Holder
      </a>
    </h4>
  </div>
  <div id="ConstructionPermit" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HeadingConstructionPermit">
    <div class="panel-body">
      <p>Enter details about how the Construction will be performed.</p>
      <dl>
        <dt title="Traffic Management may be Required">Will the construction be in or next to any roadway / driveway / vehicle access?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Next to Vehicle Access">
            <label class="btn btn-primary active">
              <input type="radio" name="cpVehicleAccess" id="cpVehicleAccessYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpVehicleAccess" id="cpVehicleAccessNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
        <dt title="Traffic Management definitely Required">Will vehicle access be obstructed during construction?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Impacting to Vehicle Access">
            <label class="btn btn-primary active">
              <input type="radio" name="cpVehicleAccessImpact" id="cpVehicleAccessImpactYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpVehicleAccessImpact" id="cpVehicleAccessImpactNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
        <dt title="Pedestrian Management may be Required">Will the construction be in or next to any pathway / walkway / pedestrian access?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Next to Pedestrian Access">
            <label class="btn btn-primary active">
              <input type="radio" name="cpPedestrianAccess" id="cpPedestrianAccessYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpPedestrianAccess" id="cpPedestrianAccessNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
        <dt title="Pedestrian Management definitely Required">Will pedestrian access be obstructed during construction?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Impacting to Pedestrian Access">
            <label class="btn btn-primary active">
              <input type="radio" name="cpPedestrianAccessImpact" id="cpPedestrianAccessImpactYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpPedestrianAccessImpact" id="cpPedestrianAccessImpactNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
        <dt title="Engineering Report may be Required">Will the construction be in, under or next to any structure?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Next to Structure">
            <label class="btn btn-primary active">
              <input type="radio" name="cpStructure" id="cpStructureYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpStructure" id="cpStructureNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
        <dt title="Engineering Report definitely Required">Will any structure next to / over the construction be potentially affected in terms of its appearance / function / structural integrity?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Potentially Impacting Structure">
            <label class="btn btn-primary active">
              <input type="radio" name="cpStructureImpact" id="cpStructureImpactYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpStructureImpact" id="cpStructureImpactNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
      </dl>
      <p>Enter details about the immediate area (50m) around Construction.</p>
      <dl>
        <dt title="Restricted Hours of Operation, Noise Levels, Use of Artificial Lighting, Number of Vehicles parked on street">Are there residential dwellings?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Residences">
            <label class="btn btn-primary active">
              <input type="radio" name="cpAreaResidential" id="cpAreaResidentialYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpAreaResidential" id="cpAreaResidentialNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
        <dt title="Restricted Hours of Operation, Noise Levels, Number of Vehicles parked on street">Are there office buildings?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Offices">
            <label class="btn btn-primary active">
              <input type="radio" name="cpAreaOffice" id="cpAreaOfficeYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpAreaOffice" id="cpAreaOfficeNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
        <dt title="Restricted Number of Vehicles parked on street">Are there industrial buildings and other structures?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Industry and Other Structures">
            <label class="btn btn-primary active">
              <input type="radio" name="cpAreaIndustrial" id="cpAreaIndustrialYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpAreaIndustrial" id="cpAreaIndustrialNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
        <dt title="Restricted Number of Vehicles parked on street, potential security restrictions">Are there Federal / State services (including emergency services, hospitals)?</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons" role="group" aria-label="Construction Near Federal / State Services / Emergency Services">
            <label class="btn btn-primary active">
              <input type="radio" name="cpAreaSpecial" id="cpAreaSpecialYes" autocomplete="off" checked> Yes
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="cpAreaSpecial" id="cpAreaSpecialNo" autocomplete="off"> No
            </label>
          </div>
        </dd>
      </dl>
      <p>Enter the required details for whom the Construction permit(s) will be issued to.</p>
      <dl>
        <dt>Organisation Name</dt>
        <dd><input id="cpOrgName" type="text"/></dd>
        <dt>Organisation Physical Address</dt>
        <dd><input id="cpOrgAddressPhysical" type="text"/></dd>
        <dt>Organisation Mailing Address</dt>
        <dd><input id="cpOrgAddressMailing" type="text"/></dd>
        <dt>Organisation Phone Number</dt>
        <dd><input id="cpOrgPhone" type="text"/></dd>
        <dt>Organisation Email Address</dt>
        <dd><input id="cpOrgEmail" type="email"/></dd>
        <dt>Organisation Contact Person</dt>
        <dd><input id="cpOrgContact" type="text"/></dd>
        <dt>Organisation Contact Phone</dt>
        <dd><input id="cpOrgContactPhone" type="text"/></dd>
      </dl>
      <p>Construction permits have a short life span and are limited in area. The area will also be limited on the basis of how the construction will impact the use of public assets such as roads and footpaths.</p>
      <p>We recommend you break up your route into several areas and request an appropriate number of Construction permits covering each area and spread across several time periods. Taking into account all of the factors that will affect your construction.</p>
    </div>
  </div>
</div>
</div>

@section scripts
{
  <script src="@mapInitUrl" async defer></script>
  <script type="text/javascript" async defer>
    function initMap() {
      const unaMap = Una.Map(google.maps, "map");
      Una.gMap = unaMap.map;
    }
  </script>
}
