@{
  ViewData["Title"] = "Permit Information";
}

<h2>@ViewData["Title"]</h2>

<h3>General Requirements for Issuing Permits</h3>
<p>To obtain a Permit for your infrastructure several things are required:</p>
<ul>
  <li>The Infrastructure Owner / Permit Holder must be the one to make the permit application.</li>
  <li>
    The Permit Holder and Infrastructure Owner must be identified.
    <small>These can be the same person / organisation. If they are not the same then the Permit Holder must be an authorised agent of the Infrastructure Owner.</small>
  </li>
  <li>Other people and organisations may need to be identified.</li>
  <li>Details about your infrastructure must be clearly identified.</li>
  <li>Relevant documents, e.g. engineers reports, must be provided.</li>
  <li>The relevant fees, charges and penalties must be paid.</li>
  <li><small>(Some other agencies may require you to obtain relevant permits / authorisation also - LASIMRA and its authorised agencies are not responsible for this)</small></li>
</ul>

<h3>General Requirements for Keeping Permits</h3>
<p>To keep a Permit for your infrastructure:</p>
<ul>
  <li>You must notify of any changes to the details for the Permit Holder or Infrastructure Owner.</li>
  <li>Notify of any significant discrepancies about your infrastructure from that detailed on your Permit.</li>
  <li>Make use of the Permit within a suitable time frame.</li>
  <li>Any follow-on activities required by the Permit type must be performed or paid for, e.g. remediation works after construction.</li>
</ul>

<h3>Parties to the Permit</h3>
<p>For any Permit there are several different roles for which different persons or organisations need to be identified. These are the "Parties to the Permit".</p>
<dl class="dl-horizontal">
  <dt>Permit Holder</dt>
  <dd>
    The Person or Organisation who 'owns' the permit itself.
    They do not have to own the infrastructure that is covered by the permit, 
    but if they do not own the infrastructure then they must be authorised by the Infrastructure Owner to act as the representative.
    For instance an organisation may set up a management company to 'hold' all of its permits.
    The Permit Holder must be identified for each Permit.
  </dd>
  <dt>Permit Holder Contact</dt>
  <dd>
    A Person
    - When the Permit Holder is an Organisation, or they are not based in Nigeria, then a local contact person is required.
    The Permit Holder Contact is this person.
  </dd>
  <dt>Infrastructure Owner</dt>
  <dd>
    Is the owner of the infrastructure covered by the Permit.
  </dd>
  <dt>Primary Contractor</dt>
  <dd>
    For a Construction Permit (which includes decommissioning) the Primary Contractor is the Person or Organisation responsible for the actual construction activities.
  </dd>
  <dt>Primary Contractor Contact</dt>
  <dd>
    A Person
    - When the Primary Contractor is an Organisation, or they are not based in Nigeria, then a local contact person is required.
    The Primary Contractor Contact is this person.
  </dd>
</dl>
<p>For a Right-of-Way Permit most operators will be the Permit Holder and Infrastructure Owner, and they will have a person from within their organisation to be the Permit Holder Contact.</p>

<h3>Fees, Charges and Penalties for Issuing and Retaining Permits</h3>
<p>
  Note: These fees, charges and penalties, and the rules related to their application,
  are subject to change at the discretion of LASIMRA and at the discretion of its appointed agencies (after consultation with LASIMRA).
  No refund is offered for any changes.
</p>
<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Charge Type</th>
        <th class="text-center">Schedule</th>
        <th class="text-center">Description</th>
        <th class="text-center">Rate</th>
        <th class="text-center">Charge</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Application Form Fee</td>
        <td class="text-center">flat fee</td>
        <td class="text-right">N50,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Construction - Tower / Mast / Dish</td>
        <td class="text-center">flat fee</td>
        <td class="text-right">N20,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Construction - Underground</td>
        <td class="text-center">flat fee</td>
        <td class="text-right">N10,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Transmission Tower Elevation</td>
        <td class="text-center">for every three (3) feet<br />(0.914 metres)</td>
        <td class="text-right">N10,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>(Other) Tower Elevation</td>
        <td class="text-center">for every five (5) feet<br />(1.524 metres)</td>
        <td class="text-right">N8,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Dish Diameter</td>
        <td class="text-center">for every 1.5 metres<br />(~4 feet 11 inches)</td>
        <td class="text-right">N100,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Location in Business / High Density Zone</td>
        <td class="text-center">flat fee</td>
        <td class="text-right">N50,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Right-of-Way - Underground Horizontal Drilling</td>
        <td class="text-center">per metre</td>
        <td class="text-right">N500</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Right-of-Way - Underground Horizontal Drilling Pits (x2)</td>
        <td class="text-center">per section</td>
        <td class="text-right">N6,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Right-of-Way - Underground Trenching</td>
        <td class="text-center">per metre</td>
        <td class="text-right">N3,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Application</td>
        <td>Right-of-Way - Underground Remediation</td>
        <td class="text-center">per metre</td>
        <td class="text-right">N10,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Annual</td>
        <td>Location Fee (first).  To be paid with Application Fee</td>
        <td class="text-center">flat fee</td>
        <td class="text-right">N50,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Annual</td>
        <td>Location Fee - Tower</td>
        <td class="text-center">for every five (5) feet<br />(1.524 metres)</td>
        <td class="text-right">N2,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Annual</td>
        <td>Application Renewal (first anniversary)</td>
        <td class="text-center">flat fee</td>
        <td class="text-right">N25,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Annual</td>
        <td>Permit Renewal - Tower</td>
        <td class="text-center">for every five (5) feet<br />(1.524 metres) or part therein</td>
        <td class="text-right">N10,000</td>
      </tr>
      <tr>
        <td>Permit</td>
        <td>Annual</td>
        <td>Permit Renewal - Dish</td>
        <td class="text-center">flat fee</td>
        <td class="text-right">N100,000</td>
      </tr>
      <tr>
        <td>Temporary Permit</td>
        <td>Annual</td>
        <td>Existing (un-permitted) Infrastructure - Application</td>
        <td class="text-center">flat fee</td>
        <td class="text-right">N50,000</td>
      </tr>
      <tr>
        <td>Temporary Permit</td>
        <td>Annual</td>
        <td>Existing (un-permitted) Infrastructure - Transmission Tower Elevation</td>
        <td class="text-center">for every three (3) feet<br/>(0.914 metres)</td>
        <td class="text-right">N12,000</td>
      </tr>
      <tr>
        <td>Temporary Permit</td>
        <td>Annual</td>
        <td>Existing (un-permitted) Infrastructure - Dish Diameter</td>
        <td class="text-center">for every 1.5 metres<br />(~4 feet 11 inches) or part therein</td>
        <td class="text-right">N100,000</td>
      </tr>
      <tr>
        <td>Settlement Fee</td>
        <td>Annual</td>
        <td>Existing Non-Conforming Antenna - As assessed and agreed with LASIMRA or its Agent</td>
        <td class="text-center">flat fee</td>
        <td class="text-right">N50,000<br/>- N250,000</td>
      </tr>
      <tr>
        <td>Penalty</td>
        <td>Offence</td>
        <td>Unused Infrastructure - Failure to notify, to decommission, and / or to decommission within thirty (30) days.</td>
        <td class="text-center">flat fee<br />(per infrastructure)</td>
        <td class="text-right">N25,000</td>
      </tr>
      <tr>
        <td>Penalty</td>
        <td>Offence</td>
        <td>Failure to rectify after notice period has expired.  LASIMRA or its Agent orders action</td>
        <td class="text-center">flat fee<br />(per infrastructure)</td>
        <td class="text-right">Cost of action<br />(all inclusive)</td>
      </tr>
      <tr>
        <td>Penalty</td>
        <td>Offence</td>
        <td>Un-permitted Underground Infrastructure - Declared by Operator</td>
        <td class="text-center">per metre</td>
        <td class="text-right">N20,000</td>
      </tr>
      <tr>
        <td>Penalty</td>
        <td>Offence</td>
        <td>Un-permitted Underground Infrastructure - Discovered by Audit</td>
        <td class="text-center">per metre</td>
        <td class="text-right">N50,000</td>
      </tr>
      <tr>
        <td>Penalty</td>
        <td>Offence</td>
        <td>Every other contravention or omission without a specific penalty listed above</td>
        <td class="text-center">daily flat fee<br />(per offence)</td>
        <td class="text-right">N50,000</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Important Notes about Permits</h3>
<p>Permits have either of two basic time frames that may apply to them:</p>
<ul>
  <li>Short Term - Such as Construction Permits</li>
  <li>Long Term / Indefinite - Such as Right-of-Way Permits for underground infrastructure</li>
</ul>
<p>Permits may be reissued at the discretion of LASIMRA or its authorised agencies, for several reasons:</p>
<ul>
  <li>The Permit Holder has changed their name.</li>
  <li>The Permit itself has been transferred (e.g. sold) to another party.</li>
  <li>There were significant discrepancies between the actual infrastructure and that described on the Permit.</li>
  <li>There has been a change of law, requiring LASIMRA or its authorised agencies to reissue the Permit.</li>
  <li>Conditions imposed upon the Permit have been changed.</li>
  <li>In general, any significant change to the details of a Permit, or to the conditions of a Permit, will result in that Permit being invalidated, and a new Permit being issued.</li>
  <li>Where a Permit must be reissued because of something the Permit Holder / Infrastructure Owner has done (or not done as the Permit required) then it is likely that the Permit Holder / Infrastructure Owner will be charged a fee for the Permit to be reissued.</li>
</ul>
<p>Authority to Hold Permits</p>
<ul>
  <li>If a permit is held by a person / organisation that is not an authorised agent of the Infrastructure Owner then that permit is invalid.</li>
  <li>Any party that obtains a permit over some infrastructure, when they do not have authority to do so, is subject to penalties.</li>
</ul>
<p>Invalidated Permits</p>
<ul>
  <li>There is no refund offered for any permit that has been invalidated.</li>
  <li>Invalidated permits are still part of the official record.</li>
  <li>Invalidated permits may not be restored to a valid state.  However a new permit be issued under appropriate circumstances.</li>
</ul>
<p>Long Term Permits</p>
<ul>
  <li>Long Term / Indefinite Permits apply for the life span of the infrastructure.</li>
  <li>It is the obligation of the Infrastructure Owner to ensure that the infrastructure is well maintained. This includes all of the peripheral infrastructure and any features to ensure public safety.</li>
  <li>It is the responsibility of the Infrastructure Owner to ensure that the infrastructure is decommissioned when no longer required.</li>
  <li>Infrastructure Owners who fail to maintain their infrastructure and/or decommission it when no longer required are subject to penalties.</li>
</ul>
<p>Short Term Permits</p>
<ul>
  <li>Construction permits have a short life span and are limited to the area applied for.</li>
  <li>Conditions will be imposed upon Construction Permits on the basis of how the construction will impact the neighbouring community, the use of public assets such as roads and footpaths, and the potential impact for emergency services to perform their duties.</li>
  <li>It is strongly recommended that when the construction will cover a significant area, e.g. installing underground fiber, that multiple Construction Permits be applied for covering each section of the area being worked on, and spread out over time also.  Taking into account all of the factors that will affect your construction.</li>
</ul>
