body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

a:hover {
    text-decoration: none;          
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.nav > li > a.dropdown-parent {
  padding-right: 5px;
}

.nav > li > a.dropdown-child {
  padding-left: 5px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
  max-width: 280px;
}*/

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/*  title-@Constants.UnaAbbr */
.title-UNA {
  background: -moz-linear-gradient(left, rgba(86,180,217,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(86,180,217,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(86,180,217,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56b4d9', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  color: white;
}

/*  title-@Constants.LasimraAbbr */
.title-LASIMRA {
  background: -moz-linear-gradient(left, rgba(104,33,122,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(104,33,122,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(104,33,122,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68217a', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  color: white;
}

/*  title-@Constants.CisAbbr */
.title-CIS {
  background: -moz-linear-gradient(left, rgba(127,186,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(127,186,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(127,186,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fba00', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  color: white;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
  display: inline-block;
  content: "[";
  padding-right: 0.5em;
}

.btn-bracketed::after {
  display: inline-block;
  content: "]";
  padding-left: 0.5em;
}

/* Hide the actual radio button on radio buttons, even when not using data-toggle="buttons" on the parent */
.btn-radio > input[type='radio'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

/* Get dl horizontal lists to wrap the text in the dt elements */
dl.dl-horizontal dt {
  white-space: normal;
}

#map, iframe {
  width: 680px; /* 511 pt */
  height: 360px; /* 270 pt */
}

  #map.isPreview {
    pointer-events: none;
  }

    #map.isPreview .gmnoprint, #map.isPreview .gm-style-cc {
      display: none;
    }

.afterMap {
  padding-bottom: 15px;
}

/* Special reduced sizes for very small screens */
@media (max-width: 767px) {
  body, .btn {
    padding: 3px;
    font-size: 10px;
  }

  .container {
    padding-right: 3px;
    padding-left: 3px;
  }

  .row {
    margin-right: -3px;
    margin-left: -3px;
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-right: 3px;
    padding-left: 3px;
  }

  h1, .h1 {
    font-size: 26px;
  }

  h2, .h2 {
    font-size: 21px;
  }

  h3, .h3 {
    font-size: 17px;
  }

  h4, .h4 {
    font-size: 13px;
  }

  ol, ul, menu, dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
  }

  #map, iframe {
    height: 280px;
    width: 100%;
    max-width: 680px; /* 511 pt */
    max-height: 360px; /* 270 pt */
  }
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

@media print {
  /* Fix for print preview of maps in Chrome browser */
  img {
    max-width: none !important;
  }
}
