body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.nav > li > a.dropdown-parent {
  padding-right: 5px;
}

.nav > li > a.dropdown-child {
  padding-left: 5px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
  max-width: 280px;
}*/

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/*  title-@Constants.UnaAbbr */
.title-UNA {
  background: -moz-linear-gradient(left, rgba(86,180,217,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(86,180,217,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(86,180,217,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56b4d9', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  color: white;
}

/*  title-@Constants.LasimraAbbr */
.title-LASIMRA {
  background: -moz-linear-gradient(left, rgba(104,33,122,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(104,33,122,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(104,33,122,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68217a', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  color: white;
}

/*  title-@Constants.CisAbbr */
.title-CIS {
  background: -moz-linear-gradient(left, rgba(127,186,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(127,186,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(127,186,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fba00', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  color: white;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
  display: inline-block;
  content: "[";
  padding-right: 0.5em;
}

.btn-bracketed::after {
  display: inline-block;
  content: "]";
  padding-left: 0.5em;
}

/* Hide the actual radio button on radio buttons, even when not using data-toggle="buttons" on the parent */
.btn-radio > input[type='radio'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

/* Get dl horizontal lists to wrap the text in the dt elements */
dl.dl-horizontal dt {
  white-space: normal;
}

#map, iframe {
  width: 680px; /* 511 pt */
  height: 360px; /* 270 pt */
}

  #map.isPreview {
    pointer-events: none;
  }

    #map.isPreview .gmnoprint, #map.isPreview .gm-style-cc, #map.isPreview .gm-fullscreen-control, #map.isPreview #pac-input {
      display: none;
    }

.afterMap {
  padding-bottom: 15px;
}

.preMap {
  padding-top: 15px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  max-width: 680px; /* 511 pt */
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  #pac-input:focus {
    border-color: #4d90fe;
  }

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

  #type-selector label {
    font-size: 13px;
    font-weight: 300;
  }

#target {
  width: 345px;
}

.flex-container {
  /*display: flex;*/
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

  .flex-container > .animate-show {
    flex: 0 1 auto;
  }

.animate-show.ng-hide-add, .animate-show.ng-leave {
  animation: animBlockRem 0.8s ease-in-out;
}

.animate-show.ng-hide-remove, .animate-show.ng-enter {
  animation: animBlockAdd 0.8s ease-in-out;
}

@keyframes animBlockAdd {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes animBlockRem {
  100% {
    display: none;
    opacity: 0;
  }

  99% {
    display: block;
    opacity: 0;
    transform: scaleY(0);
  }

  0% {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }
}

/* Special reduced sizes for very small screens */
@media (max-width: 767px) {
  body, .btn {
    padding: 3px;
    font-size: 10px;
  }

  .container {
    padding-right: 3px;
    padding-left: 3px;
  }

  .row {
    margin-right: -3px;
    margin-left: -3px;
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-right: 3px;
    padding-left: 3px;
  }

  h1, .h1 {
    font-size: 26px;
  }

  h2, .h2 {
    font-size: 21px;
  }

  h3, .h3 {
    font-size: 17px;
  }

  h4, .h4 {
    font-size: 13px;
  }

  ol, ul, menu, dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
  }

  #map, iframe {
    height: 280px;
    width: 100%;
    max-width: 680px; /* 511 pt */
    max-height: 360px; /* 270 pt */
  }
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

@media print {
  /* Fix for print preview of maps in Chrome browser */
  img {
    max-width: none !important;
  }
}
